body { background-color: #cef; font-family: monospace; background-image: url(petscop1.png); background-attachment: fixed; color: #326; }                                    
a:link { color: #009; }                                                         
a:visited { color: #909; }                                                      
a:active { color: #009; }             
p {padding: 0 0 0 20px; }
h1, h2, h3, h4 {padding: 0 0 0 10px; }
time {padding: 5px}
li {padding: 25px; line-height: 0px}